.modal-tela {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.frase-ganhadora {
    font-family: Permanent Marker;
    font-size: 130px;
    line-height: 291px;
    color: #FFFFFF;
    position: fixed;
    left: 15%;
    top: 0;
}

.botoes {
    display: flex;
    z-index: 2;
    align-self: center;
    padding-bottom: 100px;
}

.botao-modal {
	background-color: #f6dd00;
	display: flex;
	padding: 10px 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	border: black;
	font-family: 'Roboto';
	font-weight: 900;
    font-size: 22px;
    z-index: 2;
    transition: all 0.4s ease 0s;
    text-decoration: none;
}

.botao-modal:hover {
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 0;
	background-color: #f1c604;
	transition: all 0.4s ease 0s;
}